<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: header"></nav>

<div class="clearfix">
<img class="float-right" src="/images/AbbeyFronick.jpg" alt="Abbey Fronick" height="500" width="600">
    <p class="lead">I started working with Maggie in December of 2019 and it has been the most amazing experience. I started off
        very overweight and unhappy with the how I looked and felt. Right away, Maggie was amazing with helping me
        get onto the right track. She doesn't just help with meal planning; she is there for you every step of the
        way whether it be meal planning, motivation, questions, anything you need. I would not be where I am today
        without Maggie's help. I am almost 50 pounds down and have never felt better. This whole process has been
        amazing and I wouldn't change a thing.
        <br>
        <br>
        Thank you, Maggie!

        <br>
    <h4><em>~Abbey Fronick</em></h4>
    </p>
</div>
</body>
</html>    
