<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: header"></nav>

<div class="clearfix">
    <img class="float-right" src="/images/amandaveninga.jpg" alt="Amanda Veninga" height="500" width="600">
    <div class="blockquote text-center">
   <p class="lead">Let me introduce myself.. my name is Amanda and im the QUEEN of "diets".  I've tried EVERY diet pill, potion,
       lotion and plan and honestly I wasn't sure, even going on this journey with my friend of 16yrs who had over
       20yrs of knowledge could help me achieve TRUE weight loss... but something even better than just weight loss
       happened..  I learned that I had the power over food that food didn't own me and that I didn't have to throw
       the baby out with the bath water.. I could eat ALL of my favorite foods I JUST HAD TO PLAN ACCORDINGLY!! This
       changed the way I looked at food, at eating, at health, EVERYTHING!! Im learning so much about myself on this
       journey, so much about food and how to balance it all. Maggie is AMAZING  at what she does and she is
       incredibly supportive. My journey is still unfolding im almost 30lbs down and over 27inches are gone off
       my body. I  will NEVER have to look to another plan because this fits every part of my lifestyle, I love that I
       can have my cake and eat it too!!
       <br>
    <h4><em>~Amanda Veninga</em></h4>
   </p>
    </div>
</body>
</html>    
