<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<nav th:replace="fragments :: header"></nav>

<div class="row">
    <img class="img-thumbnail" src="/images/christinaKennon1.jpg" alt="Christina Kennon" height="200" width="400">
    <img class="img-thumbnail" src="/images/christinaKennon2.jpg" alt="Christina Kennon" height="200" width="400">
    <p>I decided I needed to get healthy and lose weight in April 2019. I heard of Maggie and thought she was what
        I needed to help me reach my goal. I started at a whopping 215 lbs on my short 5 ft frame. I felt terrible
        with digestion issues, sore feet, numb hands, trouble bending over, and I’m sure other issues that I’m
        forgetting about. One year later I am down 65 lbs and all those issues I had before have disappeared.
        I feel so much better mentally and physically! Thank you Maggie!</p>
</div>
</body>
</html>    
