<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav th:replace="fragments :: header"></nav>

<div class="clearfix">
    <img class="float-right"src="/images/KatieMoore.jpg" alt="Katie Moore" height="500" width="500">
    <div class="blockquote text-center">
    <p class="lead">
        Where to begin...my husband and I have been together since 2002 (we met at Mizzou).  So, you know, young
        and able to eat anything with no side effects!  Well time went on, children were born, and metabolisms
        slooooowed down. Neither of us were happy with how we looked and felt.  We tried many different weight
        loss ideas (weight watchers, workout videos, and food tracking apps). We were not good at being
        accountable, and sticking with a program is hard when life is busy and junk food is easy and tempting.
        <br><br>
        ....in steps Maggie. I had gotten her name from some friends who had great success with her. So we thought, why not?
        We called and within a few weeks we met and began the best journey ever.  She taught us so much about
        meal planning and helped us figure out what works best for our individual nutritional needs.  Maggie is
        amazing at keeping you motivated, positive, and focused on your goals.  She is always available to help,
        even in tricky situations (like parties, how to eat smart at restaurants, and dealing with the aftermath
        of the occasional bad day). She never makes you feel “bad” for messing up a meal, and helps you refocus on
        what you want to accomplish!
        I have recommended her to many others looking for help, and will continue to do so for a long time!
        <br>
    <h4><em>~Katie Moore</em></h4>
    </p>
    </div>
</div>
</div>
</body>
</html>    
