<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<nav th:replace="fragments :: header"></nav>

<div class="clearfix">
    <img class="float-right" src="/images/Patty.jpg" alt="Patty Senft" height="400" width="400">
    <div>
        <p>I was not happy with how I looked, my body always felt tired and bloated and I had to purchase new and
            bigger clothes. I knew I need a change but have failed multiple times with "diets" before. I was hoping
            this would be different and working with Maggie IS different. From the constant support she provides to
            understanding how your body processes food, Maggie's plan is about sustainable  and achievable success.
            Changing my relationship food wasn't easy but Maggie provides such accountability and support, that I
            knew I would succeed this time. Maggie is friendly, open minded, funny and she will not judge you. My
            life is drastically better since I started working with her.
            <br>
            <h4>~Patty Senft</h4>
        </p>
    </div>
</div>
</body>
</html>    
