<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<title>New Client Form</title>

<body class="container">
<h1 th:replace="fragments :: header"></h1>
<hr>
<nav th:replace="fragments :: navigation"></nav>

<h2>Wanting more information?</h2>

<form method="post">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" name="firstName" class="form-control">

        <label>Last Name</label>
        <input type="text" name="lastName" class="form-control">

        <label>Email Adress</label>
        <input type="email" name="email" class="form-control">

        <label>Brief Description on your weight loss goals</label>
        <input type="text" name="briefDescription" class="form-control">

        <p>If you are uncomfortable answering these questions, we can talk about these questions in person.</p>

        <label>Age</label>
        <input type="text" name="age" class="form-control">
        <label>Height</label>
        <input type="text" name="height" class="form-control">
        <label>Weight</label>
        <input type="text" name="weight" class="form-control">
        <label>Medical History</label>
        <input type="text" name="medicalHistory" class="form-control">
        <label>Activity Level</label>
        <input type="checkbox"  name="activityLevel" value="Low" class="form-control">
        <input type="checkbox" name="activityLevel" value="Moderate" class="form-control">
        <input type="checkbox" name="activityLevel" value="High" class="form-control">

        <label></label>
        <input type="submit" value="Send">
    </div>
</form>

</body>
</html>    
