<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weight Loss Coach</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex flex-grow-1">
<!--        <span class="w-100 d-lg-none d-block">&lt;!&ndash; hidden spacer to center brand on mobile &ndash;&gt;</span>-->
<!--        <a class="navbar-brand d-none d-lg-inline-block" href="#">-->
<!--            Navbar 6-->
<!--        </a>-->
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/images/LOGO.jpg">
            <img src="@{images/LOGO}" alt="logo">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a href="../" class="nav-link m-2 menu-item nav-active">Home</a>
            </li>
            <li class="nav-item">
                <a href="/testimonials" class="nav-link m-2 menu-item">Testimonials</a>
            </li>
<!--            #Would Maggie like a blog?-->
<!--            <li class="nav-item">-->
<!--                <a href="#" class="nav-link m-2 menu-item">Blog</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a href="/contact" class="nav-link m-2 menu-item">Contact</a>
            </li>
        </ul>
    </div>
</nav>


</html>    
