<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset = "UTF-8" />
    <title></title>
</head>

<p>
    Having over 20 years of experience helping clients reach their weight loss goals has benefited them to successfully
    keep it off. My plans are based on high protein, moderate fats and low carb.  My philosophy is to not eliminate any
    food group unless a plateau breaker is suggested. Through my program, clients learn the quantity of protein,
    vegetables, fruits, starch, dairy, and fat needed to consume daily without the use of supplements.  Client plans are
    created and personalized according to medical history, age, height, weight, and activity level. My plan is a
    lifestyle change; not a diet—teaching clients how to reach goals using all the tools, skills and knowledge needed to
    keep weight off for good. Clients have the option of meeting weekly or bi-weekly and following up via text messages
    and/or emails. You will learn how to make better food choices every day to help you stay interested in and motivated
    about your weight loss. Let your diary help guide you in your decision making. Recognize your own eating style and
    trends that are created in your food choices. Foods that help one person lose weight may not work for another. Your
    one-on-one counseling will help you every step of the way and help you make the food choices that work for you.
</p>
<body>
</body>
</html>