<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:replace="fragments :: header"></h1>
<nav th:replace="fragments :: navigation"></nav>
<hr>
<h3>Begin your weightloss journey today </h3>

<form method="post" th:action="@{home/contactform}">
    <div class="form-group">
        <label>First Name
        <input th:field="${newClient.firstName}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Last Name
            <input th:field="${newClient.lastName}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Email
            <input th:field="${newClient.email}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Please give me a brief description of your weight loss goals
            <input th:field="${newClient.briefDescription}" class="form-control">
        </label>
    </div>
    <h4>If you are uncomfortable answering the following questions, these can be answered in person.</h4>
    <div class="form-group">
        <label>Activity Level
            <select class="form-control" name="activityLevel" th:field="${newClient.activityLevel}" >
                <option value="low">Low</option>
                <option value="moderate">Moderate</option>
                <option value="high">High</option>
            </select>
        </label>
    <div class="form-group">
        <label>Height
            <input th:field="${newClient.height}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Weight
            <input th:field="${newClient.weight}" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>Medical History
            <input th:field="${newClient.medicalHistory}" class="form-control">
        </label>
    </div>
    <input type="submit" value="Submit" class="btn btn-success">
</form>

</body>
</html>    
