<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: header"></nav>

<ul>
    <li>
        <a th:href="@{testimonials/abbeyFronick}">Abbey Fronick</a>
    </li>
    <li>
        <a th:href="@{testimonials/amandaVeninga}">Amanda Veninga</a>
    </li>
    <li>
        <a th:href="@{testimonials/christinaKennon}">Christina Kennon</a>
    </li>
    <li>
        <a th:href="@{testimonials/jessicaAebischer}">Jessica Aebischer</a>
    </li>
    <li>
        <a th:href="@{testimonials/katieMoore}">Katie Moore</a>
    </li>
    <li>
        <a th:href="@{testimonials/pattySenft}">Patty Senft</a>
    </li>
</ul>




<!--<img class="img-thumbnail" src="/images/christinakennon2.jpg" alt="Christina Kennon" height="200" width="400">-->
<!--<hr>-->
<!--<div>-->
<!--<img class="img-thumbnail" src="/images/jessicaaebischer.jpg" alt="Jessica Aebischer" height="200" width="400">-->

<!--</div>-->
<!--<hr>-->
<!--</div>-->
<!--<img class="img-thumbnail" src="/images/katiemoore.jpg" alt="Katie Moore" height="200" width="400">-->
<!--<hr>-->
</body>
</html>    
