<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: header"></nav>

<img class="img-thumbnail" src="/images/AbbeyFronick.jpg" alt="Abbey Fronick" height="200" width="400">
<hr>

<img class="img-thumbnail" src="/images/amandaveninga.jpg" alt="Amanda Veninga" height="200" width="400">
<hr>

<img class="img-thumbnail" src="/images/christinakennon1.jpg" alt="Christina Kennon" height="200" width="400">

<img class="img-thumbnail" src="/images/christinakennon2.jpg" alt="Christina Kennon" height="200" width="400">
<hr>

<img class="img-thumbnail" src="/images/jessicaaebischer.jpg" alt="Jessica Aebischer" height="200" width="400">
<hr>

<img class="img-thumbnail" src="/images/katiemoore.jpg" alt="Katie Moore" height="200" width="400">
<hr>
</body>
</html>    
