<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<nav th:replace="fragments :: header"></nav>

<ul>
    <li>
        <a th:href="@{testimonials/abbeyFronick}">Abbey Fronick</a>
    </li>
    <li>
        <a th:href="@{testimonials/amandaVeninga}">Amanda Veninga</a>
    </li>
    <li>
        <a th:href="@{testimonials/christinaKennon}">Christina Kennon</a>
    </li>
    <li>
        <a th:href="@{testimonials/jessicaAebischer}">Jessica Aebischer</a>
    </li>
    <li>
        <a th:href="@{testimonials/katieMoore}">Katie Moore</a>
    </li>
    <li>
        <a th:href="@{testimonials/pattySenft}">Patty Senft</a>
    </li>
</ul>
</body>
</html>    
